body{background-color: darkgray;}
.a{color:white;font-weight: bolder;font-style: italic;text-align: center;font-size: x-large;}
.a1{color:black;background-color: deeppink;font-weight: lighter;font-variant: normal;height: 50px;display: inline-flex;display: block;margin-left: 150px;margin-right: 350px;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 ;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 80px;
  text-decoration: none;
 
 
 ;
}
button{background-color: black;color: white;}
.s{margin-top: 20px;}


.b1{color: black;font-style: italic;;text-align: center;font-size:x-large;
  font-weight: bolder; }
  .b2 {
    background-color: white;
    width: 950px;
    height: 600px;
    
    padding: 2px;
    margin: 15px;
    
  }
  p{padding-left: 10px;}
  h2{padding-left: 10px;font-style: italic;font-size: x-large;font-family: cursive;font-weight: bold;}