img{width: 100%;}
.s1{width: 350px;display: inline-flex;}
.k1{width: 600px;
height: 300px;
font-family: 'Seymour One', sans-serif;border: 2px solid black;}

.k2{font-family: 'Open Sans', sans-serif;display: inline-flex;}
.s4{height: 500px;display: inline-flex;padding-top: 150px;}
.s2{width: 200px; display: inline-flex;margin-left: 40px;}
.s3{width: 200px;display: inline-flex;margin-left: 40px;}